/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
#hue10003		{ color: #004521;  }
#hue10016		{ color: #004521;  }
#hue10029		{ color: #004521;  }
#hue10042		{ color: #004521;  }
#hue10055		{ color: #004521;  }
#hue10068		{ color: #004521;  }
#hue10081		{ color: #004521;  }
#hue10094		{ color: #004521;  }
#hue10107		{ color: #004521;  }
#hue10120		{ color: #004521;  }
#hue10133		{ color: #004521;  }
#hue10146		{ color: #004521;  }
#hue10159		{ color: #004521;  }
#hue10172		{ color: #004521;  }
#hue10185		{ color: #004521;  }
#hue10198		{ color: #004521;  }
#hue10211		{ color: #004521;  }
#hue10224		{ color: #004521;  }
#hue10237		{ color: #004521;  }
#hue10250		{ color: #004521;  }
#hue10263		{ color: #004521;  }
#hue10276		{ color: #004521;  }
#hue10289		{ color: #004521;  }
#hue10302		{ color: #004521;  }
#hue10315		{ color: #004521;  }
#hue10328		{ color: #004521;  }
#hue10341		{ color: #004521;  }
#hue10354		{ color: #004521;  }
#hue10367		{ color: #004521;  }
#hue10380		{ color: #004521;  }
#hue10393		{ color: #004521;  }
#hue10410		{ color: #004521;  }
#hue10423		{ color: #004521;  }
#hue10436		{ color: #004521;  }
#hue10449		{ color: #004521;  }
#hue10464		{ color: #004521;  }
#hue10477		{ color: #004521;  }
#hue10490		{ color: #004521;  }
#hue10503		{ color: #004521;  }
#hue10516		{ color: #004521;  }
#hue10524		{ color: #004521;  }
#hue10537		{ color: #004521;  }
#hue10550		{ color: #004521;  }
#hue10563		{ color: #004521;  }
#hue10578		{ color: #004521;  }
#hue10591		{ color: #004521;  }
#hue10604		{ color: #004521;  }
#hue10617		{ color: #004521;  }
#hue10630		{ color: #004521;  }
#hue10643		{ color: #004521;  }
#hue10654		{ color: #004521;  }
#hue10667		{ color: #004521;  }
#hue10680		{ color: #004521;  }
#hue10693		{ color: #004521;  }
#hue10706		{ color: #004521;  }
#hue10719		{ color: #004521;  }
#hue10732		{ color: #004521;  }
#hue10745		{ color: #004521;  }
#hue10758		{ color: #004521;  }
#hue10771		{ color: #004521;  }
#hue10784		{ color: #004521;  }
#hue10797		{ color: #004521;  }
#hue10810		{ color: #004521;  }
#hue10823		{ color: #004521;  }
#hue10836		{ color: #004521;  }
#hue10849		{ color: #004521;  }
#hue10862		{ color: #004521;  }
#hue10875		{ color: #004521;  }
#hue10888		{ color: #004521;  }
#hue10901		{ color: #004521;  }
#hue10914		{ color: #004521;  }
#hue10927		{ color: #004521;  }
#hue10940		{ color: #004521;  }
#hue10953		{ color: #004521;  }
#hue10966		{ color: #004521;  }
#hue10979		{ color: #004521;  }
#hue10992		{ color: #004521;  }
#hue11005		{ color: #004521;  }
#hue11018		{ color: #004521;  }
#hue11031		{ color: #004521;  }
#hue11044		{ color: #004521;  }
#hue11057		{ color: #004521;  }
#hue11070		{ color: #004521;  }
#hue11083		{ color: #004521;  }
#hue11096		{ color: #004521;  }
#hue11109		{ color: #004521;  }
#hue11120		{ color: #004521;  }
#hue11131		{ color: #004521;  }
#hue11144		{ color: #004521;  }
#hue11155		{ color: #004521;  }
#hue11166		{ color: #004521;  }
#hue11177		{ color: #004521;  }
#hue11190		{ color: #004521;  }
#hue11201		{ color: #004521;  }
#hue11212		{ color: #004521;  }
#hue11225		{ color: #004521;  }
#hue11238		{ color: #004521;  }
#hue11249		{ color: #004521;  }
#hue11260		{ color: #004521;  }
#hue11271		{ color: #004521;  }
#hue11282		{ color: #004521;  }
#hue11293		{ color: #004521;  }
#hue11304		{ color: #004521;  }
#hue11315		{ color: #004521;  }
#hue11326		{ color: #004521;  }
#hue11337		{ color: #004521;  }
#hue11348		{ color: #004521;  }
#hue11356		{ color: #004521;  }
#hue11369		{ color: #004521;  }
#hue11380		{ color: #004521;  }
#hue11391		{ color: #004521;  }
#hue11402		{ color: #004521;  }
#hue11413		{ color: #004521;  }
#hue11424		{ color: #004521;  }
#hue11435		{ color: #004521;  }
#hue11446		{ color: #004521;  }
#hue11457		{ color: #004521;  }
#hue11468		{ color: #004521;  }
#hue11479		{ color: #004521;  }
#hue11490		{ color: #004521;  }
#hue11501		{ color: #004521;  }
#hue11516		{ color: #004521;  }
#hue11527		{ color: #004521;  }
#hue11538		{ color: #004521;  }
#hue11553		{ color: #004521;  }
#hue11566		{ color: #004521;  }
#hue11577		{ color: #004521;  }
#hue11588		{ color: #004521;  }
#hue11599		{ color: #004521;  }
#hue11610		{ color: #004521;  }
#hue11621		{ color: #004521;  }
#hue11632		{ color: #004521;  }
#hue11643		{ color: #004521;  }
#hue11654		{ color: #004521;  }
#hue11665		{ color: #004521;  }
#hue11676		{ color: #004521;  }
#hue11687		{ color: #004521;  }
#hue11700		{ color: #004521;  }
#hue11711		{ color: #004521;  }
#hue11722		{ color: #004521;  }
#hue11733		{ color: #004521;  }
#hue11744		{ color: #004521;  }
#hue11757		{ color: #004521;  }
#hue11768		{ color: #004521;  }
#hue11779		{ color: #004521;  }
#hue11792		{ color: #004521;  }
#hue11803		{ color: #004521;  }
#hue11814		{ color: #004521;  }
#hue11825		{ color: #004521;  }
#hue11836		{ color: #004521;  }
#hue11847		{ color: #004521;  }
#hue11858		{ color: #004521;  }
#hue11869		{ color: #004521;  }
#hue11880		{ color: #004521;  }
#hue11891		{ color: #004521;  }
#hue11902		{ color: #004521;  }
#hue11913		{ color: #004521;  }
#hue11926		{ color: #004521;  }
#hue11937		{ color: #004521;  }
#hue11948		{ color: #004521;  }
#hue11959		{ color: #004521;  }
#hue11970		{ color: #004521;  }
#hue11981		{ color: #004521;  }
#hue11992		{ color: #004521;  }
#hue12003		{ color: #004521;  }
#hue12014		{ color: #004521;  }
#hue12025		{ color: #004521;  }
#hue12038		{ color: #004521;  }
#hue12049		{ color: #004521;  }
#hue12060		{ color: #004521;  }
#hue12071		{ color: #004521;  }
#hue12082		{ color: #004521;  }
#hue12093		{ color: #004521;  }
#hue12104		{ color: #004521;  }
#hue12115		{ color: #004521;  }
#hue12126		{ color: #004521;  }
#hue12137		{ color: #004521;  }
#hue12148		{ color: #004521;  }
#hue12159		{ color: #004521;  }
#hue12170		{ color: #004521;  }
#hue12181		{ color: #004521;  }
#hue12192		{ color: #004521;  }
#hue12203		{ color: #004521;  }
#hue12214		{ color: #004521;  }
#hue12225		{ color: #004521;  }
#hue12236		{ color: #004521;  }
#hue12247		{ color: #004521;  }
#hue12258		{ color: #004521;  }
#hue12269		{ color: #004521;  }
#hue12279		{ color: #004521;  }
#hue12290		{ color: #004521;  }
#hue12301		{ color: #004521;  }
#hue12312		{ color: #004521;  }
#hue12323		{ color: #004521;  }
#hue12334		{ color: #004521;  }
#hue12345		{ color: #004521;  }
#hue12356		{ color: #004521;  }
#hue12364		{ color: #004521;  }
#hue12372		{ color: #004521;  }
#hue12380		{ color: #004521;  }
#hue12388		{ color: #004521;  }
#hue12396		{ color: #004521;  }
#hue12404		{ color: #004521;  }
#hue12412		{ color: #004521;  }
#hue12423		{ color: #004521;  }
#hue12431		{ color: #004521;  }
#hue12439		{ color: #004521;  }
#hue12450		{ color: #004521;  }
#hue12458		{ color: #004521;  }
#hue12466		{ color: #004521;  }
#hue12474		{ color: #004521;  }
#hue12482		{ color: #004521;  }
#hue12490		{ color: #004521;  }
#hue12496		{ color: #004521;  }
#hue12505		{ color: #004521;  }
#hue12513		{ color: #004521;  }
#hue12523		{ color: #004521;  }
#hue12531		{ color: #004521;  }
#hue12539		{ color: #004521;  }
#hue12547		{ color: #004521;  }
#hue12558		{ color: #004521;  }
#hue12566		{ color: #004521;  }
#hue12574		{ color: #004521;  }
#hue12578		{ color: #004521;  }
#hue12587		{ color: #004521;  }
#hue12591		{ color: #004521;  }
#hue12599		{ color: #004521;  }
#hue12607		{ color: #004521;  }
#hue12618		{ color: #004521;  }
#hue12629		{ color: #004521;  }
#hue12640		{ color: #004521;  }
#hue12648		{ color: #004521;  }
#hue12656		{ color: #004521;  }
#hue12664		{ color: #004521;  }
#hue12672		{ color: #004521;  }
#hue12680		{ color: #004521;  }
#hue12691		{ color: #004521;  }
#hue12699		{ color: #004521;  }
#hue12707		{ color: #004521;  }
#hue12715		{ color: #004521;  }
#hue12723		{ color: #004521;  }
#hue12731		{ color: #004521;  }
#hue12739		{ color: #004521;  }
#hue12747		{ color: #004521;  }
#hue12755		{ color: #004521;  }
#hue12763		{ color: #004521;  }
#hue12771		{ color: #004521;  }
#hue12779		{ color: #004521;  }
#hue12787		{ color: #004521;  }
#hue12795		{ color: #004521;  }
#hue12803		{ color: #004521;  }
#hue12811		{ color: #004521;  }
#hue12819		{ color: #004521;  }
#hue12827		{ color: #004521;  }
#hue12835		{ color: #004521;  }
#hue12843		{ color: #004521;  }
#hue12851		{ color: #004521;  }
#hue12861		{ color: #004521;  }
#hue12869		{ color: #004521;  }
#hue12877		{ color: #004521;  }
#hue12885		{ color: #004521;  }
#hue12893		{ color: #004521;  }
#hue12901		{ color: #004521;  }
#hue12909		{ color: #004521;  }
#hue12917		{ color: #004521;  }
#hue12925		{ color: #004521;  }
#hue12933		{ color: #004521;  }
#hue12941		{ color: #004521;  }
#hue12949		{ color: #004521;  }
#hue12957		{ color: #004521;  }
#hue12965		{ color: #004521;  }
#hue12973		{ color: #004521;  }
#hue12981		{ color: #004521;  }
#hue12989		{ color: #004521;  }
#hue12997		{ color: #004521;  }
#hue13005		{ color: #004521;  }
#hue13013		{ color: #004521;  }
#hue13021		{ color: #004521;  }
#hue13031		{ color: #004521;  }
#hue13039		{ color: #004521;  }
#hue13047		{ color: #004521;  }
#hue13055		{ color: #004521;  }
#hue13063		{ color: #004521;  }
#hue13071		{ color: #004521;  }
#hue13079		{ color: #004521;  }
#hue13089		{ color: #004521;  }
#hue13097		{ color: #004521;  }
#hue13105		{ color: #004521;  }
#hue13113		{ color: #004521;  }
#hue13121		{ color: #004521;  }
#hue13126		{ color: #004521;  }
#hue13140		{ color: #004521;  }
#hue13154		{ color: #004521;  }
#hue13167		{ color: #004521;  }
#hue13178		{ color: #004521;  }
#hue13193		{ color: #004521;  }
#hue13206		{ color: #004521;  }
#hue13219		{ color: #004521;  }
#hue13232		{ color: #004521;  }
#hue13245		{ color: #004521;  }
#hue13258		{ color: #004521;  }
#hue13269		{ color: #004521;  }
#hue13281		{ color: #004521;  }
#hue13293		{ color: #004521;  }
#hue13295		{ color: #004521;  }
#hue13306		{ color: #004521;  }
#hue13316		{ color: #004521;  }
#hue13326		{ color: #004521;  }
#hue13334		{ color: #004521;  }
#hue13344		{ color: #004521;  }
#hue13355		{ color: #004521;  }
#hue13364		{ color: #004521;  }
#hue13374		{ color: #004521;  }
#hue13385		{ color: #004521;  }
#hue13394		{ color: #004521;  }
#hue13400		{ color: #004521;  }
#hue13410		{ color: #004521;  }
#hue13423		{ color: #004521;  }
#hue13432		{ color: #004521;  }
#hue13443		{ color: #004521;  }
#hue13450		{ color: #004521;  }
#hue13458		{ color: #004521;  }
#hue13465		{ color: #004521;  }
#hue13473		{ color: #004521;  }
#hue13480		{ color: #004521;  }
#hue13488		{ color: #004521;  }
#hue13493		{ color: #004521;  }
#hue13500		{ color: #004521;  }
#hue13509		{ color: #004521;  }
#hue13517		{ color: #004521;  }
#hue13522		{ color: #004521;  }
#hue13529		{ color: #004521;  }
#hue13537		{ color: #004521;  }
#hue13551		{ color: #004521;  }
#hue13564		{ color: #004521;  }
#hue13577		{ color: #004521;  }
#hue13590		{ color: #004521;  }
#hue13603		{ color: #004521;  }
#hue13616		{ color: #004521;  }
#hue13629		{ color: #004521;  }
#hue13642		{ color: #004521;  }
#hue13655		{ color: #004521;  }
#hue13668		{ color: #004521;  }
#hue13681		{ color: #004521;  }
#hue13694		{ color: #004521;  }
#hue13707		{ color: #004521;  }
#hue13720		{ color: #004521;  }
#hue13733		{ color: #004521;  }
#hue13744		{ color: #004521;  }
#hue13757		{ color: #004521;  }
#hue13770		{ color: #004521;  }
#hue13783		{ color: #004521;  }
#hue13794		{ color: #004521;  }
#hue13802		{ color: #004521;  }
#hue13815		{ color: #004521;  }
#hue13821		{ color: #004521;  }
#hue13832		{ color: #004521;  }
#hue13838		{ color: #004521;  }
#hue13844		{ color: #004521;  }
#hue13855		{ color: #004521;  }
#hue13861		{ color: #004521;  }
#hue13870		{ color: #004521;  }
#hue13878		{ color: #004521;  }
#hue13884		{ color: #004521;  }
#hue13890		{ color: #004521;  }
#hue13894		{ color: #004521;  }
#hue13898		{ color: #004521;  }
#hue13905		{ color: #004521;  }
#hue13914		{ color: #004521;  }
#hue13923		{ color: #004521;  }
#hue13931		{ color: #004521;  }
#hue13942		{ color: #004521;  }
#hue13949		{ color: #004521;  }
#hue13956		{ color: #004521;  }
#hue13965		{ color: #004521;  }
#hue13972		{ color: #004521;  }
#hue13976		{ color: #004521;  }
#hue13983		{ color: #004521;  }
#hue13991		{ color: #004521;  }
#hue13999		{ color: #004521;  }
#hue14007		{ color: #004521;  }
#hue14015		{ color: #004521;  }
#hue14020		{ color: #004521;  }
#hue14025		{ color: #004521;  }
#hue14033		{ color: #004521;  }
#hue14038		{ color: #004521;  }
#hue14045		{ color: #004521;  }
#hue14049		{ color: #004521;  }
#hue14052		{ color: #004521;  }
#hue14060		{ color: #004521;  }
#hue14068		{ color: #004521;  }
#hue14076		{ color: #004521;  }
#hue14084		{ color: #004521;  }
#hue14086		{ color: #004521;  }
#hue14091		{ color: #004521;  }
#hue14096		{ color: #004521;  }
#hue14103		{ color: #004521;  }
#hue14110		{ color: #004521;  }
#hue14117		{ color: #004521;  }
#hue14124		{ color: #004521;  }
#hue14132		{ color: #004521;  }
#hue14140		{ color: #004521;  }
#hue14143		{ color: #004521;  }
#hue14151		{ color: #004521;  }
#hue14159		{ color: #004521;  }
#hue14165		{ color: #004521;  }
#hue14173		{ color: #004521;  }
#hue14177		{ color: #004521;  }
#hue14182		{ color: #004521;  }
#hue14189		{ color: #004521;  }
#hue14196		{ color: #004521;  }
#hue14202		{ color: #004521;  }
#hue14206		{ color: #004521;  }
#hue14208		{ color: #004521;  }
#hue14210		{ color: #004521;  }
#hue14217		{ color: #004521;  }
#hue14225		{ color: #004521;  }
#hue14229		{ color: #004521;  }
#hue14235		{ color: #004521;  }
#hue14239		{ color: #004521;  }
#hue14246		{ color: #004521;  }
#hue14253		{ color: #004521;  }
#hue14257		{ color: #004521;  }
#hue14264		{ color: #004521;  }
#hue14271		{ color: #004521;  }
#hue14280		{ color: #004521;  }
#hue14287		{ color: #004521;  }
#hue14294		{ color: #004521;  }
#hue14301		{ color: #004521;  }
#hue14308		{ color: #004521;  }
#hue14315		{ color: #004521;  }
#hue14322		{ color: #004521;  }
#hue14329		{ color: #004521;  }
#hue14336		{ color: #004521;  }
#hue14341		{ color: #004521;  }
#hue14348		{ color: #004521;  }
#hue14355		{ color: #004521;  }
#hue14362		{ color: #004521;  }
#hue14369		{ color: #004521;  }
#hue14378		{ color: #004521;  }
#hue14385		{ color: #004521;  }
#hue14392		{ color: #004521;  }
#hue14399		{ color: #004521;  }
#hue14406		{ color: #004521;  }
#hue14413		{ color: #004521;  }
#hue14420		{ color: #004521;  }
#hue14427		{ color: #004521;  }
#hue14434		{ color: #004521;  }
#hue14441		{ color: #004521;  }
#hue14448		{ color: #004521;  }
#hue14455		{ color: #004521;  }
#hue14462		{ color: #004521;  }
#hue14469		{ color: #004521;  }
#hue14476		{ color: #004521;  }
#hue14483		{ color: #004521;  }
#hue14490		{ color: #004521;  }
#hue14497		{ color: #004521;  }
#hue14504		{ color: #004521;  }
#hue14516		{ color: #004521;  }
#hue14523		{ color: #004521;  }
#hue14532		{ color: #004521;  }
#hue14541		{ color: #004521;  }
#hue14548		{ color: #004521;  }
#hue14557		{ color: #004521;  }
#hue14566		{ color: #004521;  }
#hue14573		{ color: #004521;  }
#hue14580		{ color: #004521;  }
#hue14587		{ color: #004521;  }
#hue14598		{ color: #004521;  }
#hue14607		{ color: #004521;  }
#hue14616		{ color: #004521;  }
#hue14625		{ color: #004521;  }
#hue14646		{ color: #004521;  }
#hue14651		{ color: #004521;  }
#hue14656		{ color: #004521;  }
#hue14666		{ color: #004521;  }
#hue14678		{ color: #004521;  }
#hue14683		{ color: #004521;  }
#hue14688		{ color: #004521;  }
#hue14693		{ color: #004521;  }
#hue14702		{ color: #004521;  }
#hue14707		{ color: #004521;  }
#hue14712		{ color: #004521;  }
#hue14717		{ color: #004521;  }
#hue14722		{ color: #004521;  }
#hue14727		{ color: #004521;  }
#hue14737		{ color: #004521;  }
#hue14747		{ color: #004521;  }
#hue14758		{ color: #004521;  }
#hue14763		{ color: #004521;  }
#hue14768		{ color: #004521;  }
#hue14779		{ color: #004521;  }
#hue14783		{ color: #004521;  }
#hue14788		{ color: #004521;  }
#hue14793		{ color: #004521;  }
#hue14799		{ color: #004521;  }
#hue14806		{ color: #004521;  }
#hue14812		{ color: #004521;  }
#hue14817		{ color: #004521;  }
#hue14822		{ color: #004521;  }
#hue14827		{ color: #004521;  }
#hue14832		{ color: #004521;  }
#hue14837		{ color: #004521;  }
#hue14847		{ color: #004521;  }
#hue14856		{ color: #004521;  }
#hue14868		{ color: #004521;  }
#hue14872		{ color: #004521;  }
#hue14884		{ color: #004521;  }
#hue14896		{ color: #004521;  }
#hue14904		{ color: #004521;  }
#hue14914		{ color: #004521;  }
#hue14922		{ color: #004521;  }
#hue14930		{ color: #004521;  }
#hue14934		{ color: #004521;  }
#hue14940		{ color: #004521;  }
#hue14946		{ color: #004521;  }
#hue14953		{ color: #004521;  }
#hue14960		{ color: #004521;  }
#hue14971		{ color: #004521;  }
#hue14976		{ color: #004521;  }
#hue14982		{ color: #004521;  }
#hue14990		{ color: #004521;  }
#hue14996		{ color: #004521;  }
#hue15002		{ color: #004521;  }
#hue15008		{ color: #004521;  }
#hue15016		{ color: #004521;  }
#hue15024		{ color: #004521;  }
#hue15032		{ color: #004521;  }
#hue15036		{ color: #004521;  }
#hue15040		{ color: #004521;  }
#hue15046		{ color: #004521;  }
#hue15051		{ color: #004521;  }
#hue15057		{ color: #004521;  }
#hue15063		{ color: #004521;  }
#hue15069		{ color: #004521;  }
#hue15075		{ color: #004521;  }
#hue15081		{ color: #004521;  }
#hue15085		{ color: #004521;  }
#hue15093		{ color: #004521;  }
#hue15099		{ color: #004521;  }
#hue7563		{ color: #004521;  }
#hue7575		{ color: #004521;  }
#hue7587		{ color: #004521;  }
#hue7599		{ color: #004521;  }
#hue7611		{ color: #004521;  }
#hue7623		{ color: #004521;  }
#hue7633		{ color: #004521;  }
#hue7643		{ color: #004521;  }
#hue7655		{ color: #004521;  }
#hue7668		{ color: #004521;  }
#hue7683		{ color: #004521;  }
#hue7696		{ color: #004521;  }
#hue7709		{ color: #004521;  }
#hue7722		{ color: #004521;  }
#hue7739		{ color: #004521;  }
#hue7754		{ color: #004521;  }
#hue7769		{ color: #004521;  }
#hue7795		{ color: #004521;  }
#hue7810		{ color: #004521;  }
#hue7825		{ color: #004521;  }
#hue7840		{ color: #004521;  }
#hue7855		{ color: #004521;  }
#hue7870		{ color: #004521;  }
#hue7885		{ color: #004521;  }
#hue7900		{ color: #004521;  }
#hue7915		{ color: #004521;  }
#hue7930		{ color: #004521;  }
#hue7945		{ color: #004521;  }
#hue7962		{ color: #004521;  }
#hue7977		{ color: #004521;  }
#hue7990		{ color: #004521;  }
#hue8005		{ color: #004521;  }
#hue8022		{ color: #004521;  }
#hue8037		{ color: #004521;  }
#hue8054		{ color: #004521;  }
#hue8069		{ color: #004521;  }
#hue8082		{ color: #004521;  }
#hue8097		{ color: #004521;  }
#hue8112		{ color: #004521;  }
#hue8127		{ color: #004521;  }
#hue8140		{ color: #004521;  }
#hue8153		{ color: #004521;  }
#hue8166		{ color: #004521;  }
#hue8179		{ color: #004521;  }
#hue8192		{ color: #004521;  }
#hue8207		{ color: #004521;  }
#hue8222		{ color: #004521;  }
#hue8237		{ color: #004521;  }
#hue8252		{ color: #004521;  }
#hue8267		{ color: #004521;  }
#hue8280		{ color: #004521;  }
#hue8293		{ color: #004521;  }
#hue8319		{ color: #004521;  }
#hue8334		{ color: #004521;  }
#hue8349		{ color: #004521;  }
#hue8364		{ color: #004521;  }
#hue8377		{ color: #004521;  }
#hue8392		{ color: #004521;  }
#hue8407		{ color: #004521;  }
#hue8422		{ color: #004521;  }
#hue8435		{ color: #004521;  }
#hue8449		{ color: #004521;  }
#hue8464		{ color: #004521;  }
#hue8479		{ color: #004521;  }
#hue8494		{ color: #004521;  }
#hue8509		{ color: #004521;  }
#hue8522		{ color: #004521;  }
#hue8535		{ color: #004521;  }
#hue8550		{ color: #004521;  }
#hue8565		{ color: #004521;  }
#hue8578		{ color: #004521;  }
#hue8594		{ color: #004521;  }
#hue8609		{ color: #004521;  }
#hue8624		{ color: #004521;  }
#hue8639		{ color: #004521;  }
#hue8654		{ color: #004521;  }
#hue8669		{ color: #004521;  }
#hue8684		{ color: #004521;  }
#hue8697		{ color: #004521;  }
#hue8710		{ color: #004521;  }
#hue8723		{ color: #004521;  }
#hue8738		{ color: #004521;  }
#hue8751		{ color: #004521;  }
#hue8764		{ color: #004521;  }
#hue8779		{ color: #004521;  }
#hue8794		{ color: #004521;  }
#hue8807		{ color: #004521;  }
#hue8822		{ color: #004521;  }
#hue8835		{ color: #004521;  }
#hue8848		{ color: #004521;  }
#hue8861		{ color: #004521;  }
#hue8874		{ color: #004521;  }
#hue8887		{ color: #004521;  }
#hue8900		{ color: #004521;  }
#hue8913		{ color: #004521;  }
#hue8926		{ color: #004521;  }
#hue8939		{ color: #004521;  }
#hue8952		{ color: #004521;  }
#hue8965		{ color: #004521;  }
#hue8978		{ color: #004521;  }
#hue8991		{ color: #004521;  }
#hue9004		{ color: #004521;  }
#hue9019		{ color: #004521;  }
#hue9032		{ color: #004521;  }
#hue9045		{ color: #004521;  }
#hue9058		{ color: #004521;  }
#hue9071		{ color: #004521;  }
#hue9084		{ color: #004521;  }
#hue9097		{ color: #004521;  }
#hue9110		{ color: #004521;  }
#hue9123		{ color: #004521;  }
#hue9136		{ color: #004521;  }
#hue9149		{ color: #004521;  }
#hue9162		{ color: #004521;  }
#hue9175		{ color: #004521;  }
#hue9188		{ color: #004521;  }
#hue9201		{ color: #004521;  }
#hue9214		{ color: #004521;  }
#hue9229		{ color: #004521;  }
#hue9242		{ color: #004521;  }
#hue9255		{ color: #004521;  }
#hue9268		{ color: #004521;  }
#hue9281		{ color: #004521;  }
#hue9296		{ color: #004521;  }
#hue9309		{ color: #004521;  }
#hue9322		{ color: #004521;  }
#hue9336		{ color: #004521;  }
#hue9349		{ color: #004521;  }
#hue9362		{ color: #004521;  }
#hue9375		{ color: #004521;  }
#hue9388		{ color: #004521;  }
#hue9401		{ color: #004521;  }
#hue9414		{ color: #004521;  }
#hue9429		{ color: #004521;  }
#hue9442		{ color: #004521;  }
#hue9455		{ color: #004521;  }
#hue9468		{ color: #004521;  }
#hue9481		{ color: #004521;  }
#hue9494		{ color: #004521;  }
#hue9507		{ color: #004521;  }
#hue9520		{ color: #004521;  }
#hue9533		{ color: #004521;  }
#hue9546		{ color: #004521;  }
#hue9559		{ color: #004521;  }
#hue9572		{ color: #004521;  }
#hue9587		{ color: #004521;  }
#hue9600		{ color: #004521;  }
#hue9613		{ color: #004521;  }
#hue9626		{ color: #004521;  }
#hue9639		{ color: #004521;  }
#hue9652		{ color: #004521;  }
#hue9665		{ color: #004521;  }
#hue9678		{ color: #004521;  }
#hue9691		{ color: #004521;  }
#hue9704		{ color: #004521;  }
#hue9717		{ color: #004521;  }
#hue9730		{ color: #004521;  }
#hue9743		{ color: #004521;  }
#hue9756		{ color: #004521;  }
#hue9769		{ color: #004521;  }
#hue9782		{ color: #004521;  }
#hue9795		{ color: #004521;  }
#hue9808		{ color: #004521;  }
#hue9821		{ color: #004521;  }
#hue9834		{ color: #004521;  }
#hue9847		{ color: #004521;  }
#hue9860		{ color: #004521;  }
#hue9873		{ color: #004521;  }
#hue9886		{ color: #004521;  }
#hue9899		{ color: #004521;  }
#hue9912		{ color: #004521;  }
#hue9925		{ color: #004521;  }
#hue9938		{ color: #004521;  }
#hue9951		{ color: #004521;  }
#hue9964		{ color: #004521;  }
#hue9977		{ color: #004521;  }
#hue9990		{ color: #004521;  }
